    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');
    @import url('https://fonts.cdnfonts.com/css/sharp-sans');

    htmnl {
        font-family: 'Sharp Sans', sans-serif;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        height: 100vh;
        width: 100vw;
        overflow-x: hidden;
        background-color: black;


    }

    header {
        width: 100%;
        height: 100%;
        background-position: center;
        background-image: url(/assets/home-bg.jpg);
        background-size: cover;
        position: relative;
        background-position: center;
        z-index: 1000;
        color: #fff;
        top: 0;
        left: 0;
    }


    .over-lay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.39);
    }


    .nav-bar {
        width: 100%;
        height: 15%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    nav {
        z-index: 1;
        height: 60%;
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: space-between;

    }

    .nav-left {
        width: 30%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        /* border: 2px solid red; */
    }

    .nav-right {
        width: 25%;
        height: 100%;
        /* border: 2px solid red; */
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .logo {
        width: 10rem;
    }

    .lang-btn {
        width: 1rem;
        height: 2rem;
        display: flex;
        align-items: center;
        display: flex;
        align-items: center;
        justify-content: center;
        border: .5px solid rgb(105, 99, 99);
        border-radius: 4px;
        padding: 0 4rem;
        z-index: 100;
        background: rgba(0, 0, 0, .5);
    }



    #languageOption {
        padding: 2px 5px;
        width: 9rem;
        border: none;
        font-family: 'Sharp Sans', sans-serif;
        font-weight: 500;
        font-size: 15px;
        background-color: transparent;
        color: #fff;

    }

    #languageOption option {
        color: #000;
        text-align: center;
    }

    .lang-icon {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .lang-icon img {
        width: 1.3rem;
        filter: invert(100);
    }

    .sign-in-btn {
        width: 5rem;
        height: 2rem;
        background-color: red;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 7px;
    }

    .sign-in-btn button {
        font-weight: 500;
        font-size: 1rem;
        background-color: transparent;
        border: none;
        font-family: 'Sharp Sans', sans-serif;

        font-weight: 500;
        font-size: 15px;
        color: #fff;
    }

    .sign-in-btn button:active {
        transform: scale(1.2);
    }

    .sign-in-btn:hover {
        background-color: rgb(207, 15, 15);

    }


    /* home conent */

    .home-content {
        height: 100vh;
        width: 100vw;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        z-index: 1000;
        margin-bottom: 5rem;

    }




    .home-content div:first-child {

        /* background-color: blue; */
        width: 65rem;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 5rem;

    }

    .home-content div:first-child h2 {
        font-size: 2.6rem;
        text-align: center;
        font-weight: 800;
        margin-bottom: 2rem;

        z-index: 100;
        font-family: sans-serif;


    }

    .home-content div p {
        font-size: 1.4rem;
        font-family: 'Sharp Sans', sans-serif;
        margin: 5px;
        z-index: 100;
        font-family: sans-serif;
        margin-bottom: 1rem;
        margin-top: 0;

    }

    .home-content div div:nth-child(2) {
        margin: 2rem;
        z-index: 100;


    }

    #email-input {

        padding: 1rem;
        width: 25rem;
        font-size: 1rem;
        line-height: 1.5;
        background: rgba(26, 25, 25, 0.4);
        border: 1px solid rgb(71, 69, 69);
        border-radius: 5px;
        z-index: 100;
        position: relative;
        font-family: 'Sharp Sans', sans-serif;
        color: #fff;



    }


    #email-input:active {
        z-index: 100;
        position: relative;
        font-family: poppins;




    }

    #start-btn {
        width: auto;
        line-height: 1.5rem;
        padding: 1rem;
        font-size: 1.4rem;
        margin: 1rem;
        border-radius: 5px;
        border: none;
        background-color: red;
        color: #fff;
        cursor: pointer;
        letter-spacing: .5px;
        position: relative;
        z-index: 100;
        font-family: sans-serif;


    }

    #start-btn:hover {
        background-color: rgb(156, 15, 15);

    }

    .fa-greater-than {
        margin-left: 1rem;
    }



    .strip-1 {
        width: 100vw;
        height: 80vh;
        z-index: 10000;
        color: white;
        /* background-color: grey; */
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        border-bottom: 2px solid rgba(70, 68, 68, 0.822);
        border-top: 5px solid rgba(44, 43, 43, 0.822);
        margin-right: 5rem;
    }

    .strip-1 .text {
        width: 50%;
        height: 60%;
        font-family: poppins;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

    }

    .strip-1 .text h2 {
        font-size: 2.7rem;
        text-align: left;
    }

    .strip-1 .text p {

        width: 75%;
        font-size: 1.4rem;
        text-align: left;
    }

    .strip-1 .image {
        width: 40%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .inside-tv {
        /* border: 2px solid red; */
        width: 360px;
        height: 205px;
        margin-bottom: 10px;
        position: absolute;
        right: 150px;
        background-image: url(/assets/bordbox-barcelona.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }


    .image-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }



    .strip-1 .image img {
        width: 90%;
        margin-right: 2rem;
        display: flex;
        justify-content: flex-start;
        /* position: relative;
        right: 5rem; */
    }


    .strip-2 {
        width: 100vw;
        height: 80vh;
        z-index: 10000;
        color: white;
        /* background-color: grey; */
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        border-bottom: 2px solid rgba(70, 68, 68, 0.822);
        border-top: 5px solid rgba(44, 43, 43, 0.822);
        padding: rem 0rem;


    }

    .strip-2 .text {
        width: 50%;
        height: 60%;
        /* border: 2px solid red; */
        font-family: poppins;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 5rem;

    }

    .strip-2 .text h2 {
        width: 75%;
        font-size: 2.6rem;

    }

    .strip-2 .text p {
        width: 75%;
        font-size: 1.4rem;
        /* border: 2px solid red; */
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: left;


    }

    .strip-2 .image {
        width: 40%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .image-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }



    .strip-2 .image img {
        width: 45%;
    }

    .download-img {
        border: 2px solid rgb(78, 75, 75);
        border-radius: 10px;
        padding: .5rem;
        position: relative;
        left: 50%;
        top: 30%;
    }

    .strip-3 {
        width: 100vw;
        height: 80vh;
        z-index: 10000;
        color: white;
        display: flex;
        align-items: center;
        justify-content: space-around;
        border-bottom: 2px solid rgba(70, 68, 68, 0.822);
        border-top: 5px solid rgba(44, 43, 43, 0.822);

    }

    .strip-3 .text {
        width: 50%;
        height: 60%;
        font-family: poppins;
        /* border: 2px solid red; */
        margin: 5rem;

    }

    .strip-3 .text h2 {
        width: 85%;
        margin: 1rem;
        font-size: 2.6rem;
        /* border: 2px solid red; */


    }

    .strip-3 .text p {
        width: 85%;
        font-size: 1.5rem;
        text-align: left;
        /* border: 2px solid red; */


    }

    .strip-3 .image {
        width: 40%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .image-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }



    .strip-3 .image img {
        width: 90%;
        margin-right: 15rem;

    }



    .strip-3 {
        width: 100vw;
        height: 80vh;
        z-index: 10000;
        color: white;
        border-bottom: 2px solid rgba(70, 68, 68, 0.822);
        border-top: 5px solid rgba(44, 43, 43, 0.822);

    }

    .strip-3 .text {
        width: 50%;
        height: 60%;
        font-family: poppins;
        flex-direction: column;
        margin: 5rem;
        /* border: 2px solid red; */

    }

    .strip-3 .text h2 {
        width: 85%;
        margin: 1rem;
        justify-content: flex-start;
        */ font-size: 2.6rem;
        /* border: 2px solid red; */


    }

    .strip-3 .text p {
        width: 85%;
        font-size: 1.5rem;
        text-align: left;
        /* border: 2px solid red; */


    }

    .strip-3 .image {
        width: 40%;
        height: 100%;

    }

    .image-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }



    .strip-3 .image img {
        width: 90%;
        margin-right: 15rem;

    }

    .strip-4 {
        width: 100vw;
        height: 80vh;
        z-index: 10000;
        color: white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 2px solid rgba(70, 68, 68, 0.822);
        border-top: 5px solid rgba(44, 43, 43, 0.822);

    }

    .strip-4 .text {
        width: 50%;
        height: 60%;
        font-family: poppins;
        margin: 5rem;
        /* border: 2px solid red; */

    }

    .strip-4 .text h2 {
        width: 70%;
        margin: 1rem;
        font-size: 2.6rem;
        /* border: 2px solid red; */


    }

    .strip-4 .text p {
        margin-left: 1rem;
        width: 85%;
        font-size: 1.4rem;
        /* border: 2px solid red; */


    }

    .strip-4 .image {
        width: auto;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        /* border: 2px solid red; */

    }

    .image-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }



    .strip-4 .image img {
        width: 60%;
        margin-right: 5rem;

    }

    .faqs-container {
        width: 100%;
        height: 60rem;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border-bottom: 2px solid rgba(70, 68, 68, 0.822);
        border-top: 5px solid rgba(44, 43, 43, 0.822);
    }

    .faqs-heading {
        text-align: center;
        color: #fff;
        font-size: 3rem;
        margin: 2rem 0;

        font-family: 'Sharp Sans', sans-serif;
        font: 100;
    }

    .faqs-container .faq-strip {
        width: 75%;
        height: 5rem;
        padding: 0 7rem;
        margin: 5px 0px;
        background-color: rgba(59, 59, 59, 0.849);
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .faqs-container .faq-strip:hover {
        background-color: rgba(100, 99, 99, 0.849);
        box-shadow: rgba(221, 216, 216, 0.15) 1.95px 1.95px 2.6px;

    }

    .faqs-container .faq-strip h2 {
        font-family: 'Sharp Sans', sans-serif;
        font-size: 1.5rem;
        font-weight: 100;
        position: relative;
        right: 4rem;
    }

    .faqs-container .faq-strip div img {
        width: 1.5rem;
        filter: invert(100);

    }

    .faqs-container h3 {
        font-family: 'Sharp Sans', sans-serif;
        font-size: 1.4rem;
        margin: 3rem;
        font-weight: 100;
    }


    footer {
        width: 100vw;
        height: 60vh;
        border-top: 8px solid rgba(44, 43, 43, 0.822);
        display: flex;
        align-items: center;
        justify-content: center;   
    }

    footer .box {
        width: 20%;
        height: 75%;
        display: flex;
        align-items: start;
        justify-content:center;
        flex-direction: column;
        /* padding:  0 5rem ; */
    }

    footer .box a,footer .box p {
        margin:  .5rem 0rem;
        font-size: .9rem;
        font-family: poppins;
        color: #bdb9b9;
    }

    .lang-btn-footer {
        width: .9rem;
        height: 2rem;
        display: flex;
        align-items: center;
        display: flex;
        align-items: center;
        justify-content: center;
        border: .5px solid rgb(105, 99, 99);
        border-radius: 4px;
        padding: 0 4rem;
        z-index: 100;
        margin: 8px 0 ;
        background: rgba(0, 0, 0, .5);
    }


    footer .box:first-child {}